bolt-path = "{{ influx_data_path }}/influxd.bolt"
engine-path = "{{ influx_data_path }}/engine"
log-level= "{{ influx_level }}"

#bolt-path = "/mnt/measurements/influxdb/influxd.bolt"
#engine-path = "/mnt/measurements/influxdb/engine"
#log-level= "warn"
